/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

header {
    display: flex; /* Usar flexbox para organizar los elementos */
    justify-content: space-between; /* Espaciado entre los elementos */
    align-items: center; /* Centrar verticalmente */
    padding: 20px; /* Espaciado alrededor del header */
    background-color:  #faf0e6; /* Fondo blanco para el header */
    border-bottom: 2px solid #ccc; /* Línea de separación inferior */
}

nav {
    flex-grow: 1; /* Permite que el nav ocupe el espacio restante */
    display: flex; /* Usar flexbox para el nav */
    justify-content: center; /* Centra los elementos dentro del nav */
}

nav ul {
    list-style: none; /* Quitar viñetas de la lista */
    display: flex; /* Usar flexbox para los enlaces del menú */
    gap: 15px; /* Espacio entre los enlaces */
}

nav ul li a {
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: #333; /* Color del texto */
    font-weight: bold; /* Negrita para los enlaces */
    padding: 5px 10px; /* Espacio interno para los enlaces */
    border-radius: 5px; /* Bordes redondeados opcionales */
    transition: background-color 0.3s; /* Transición para el hover */
}

/* Efecto hover opcional */
nav ul li a:hover {
    background-color: #f0f0f0; /* Cambia el fondo al pasar el mouse */
}

.header-icons {
    display: flex; /* Flexbox para los iconos */
    align-items: center; /* Centrar verticalmente */
}

.header-icons .icon {
    width: 30px; /* Tamaño de los iconos */
    height: auto; /* Mantener la proporción */
    margin-left: 15px; /* Espacio entre los iconos */
}


/* Hero Section */
#hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Carousel */
.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0; /* Detrás del texto */
    overflow: hidden;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Ajusta el ancho al 100% multiplicado por el número de imágenes */
}

.carousel-images img {
    width: 50%; /* Ocuparán todo el ancho del carrusel */
    height:70%; /* Ajusta la altura proporcionalmente */
     /* Limita la altura máxima a un 80% de la pantalla */
    object-fit: contain; /* Asegura que la imagen mantenga su proporción */
}



button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Hero Text */
.hero-text {
    position: relative;
    z-index: 1; /* Sobre el carrusel */
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff6363;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff4b4b;
}


/* Sección de personalización */
#personalizacion {
    padding: 50px;
    background-color: #f8f8f8; /* Color de fondo suave */
    background-color: #faf0e6;
}

.column-container {
    display: flex;
    flex-wrap: wrap; /* Asegura que las columnas sean responsivas */
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
    background-color: #faf0e6; /* Fondo beige claro para ambas columnas */
    border-radius: 10px; /* Borde redondeado opcional */
    padding: 20px;
}

/* Columna izquierda (texto) */
.column-left {
    flex: 1 1 45%; /* Ocupa el 45% del ancho disponible */
    text-align: justify;
    background-color: #faf0e6; /* Beige claro */
    padding: 20px; /* Espacio interno para el contenido */
    border-radius: 10px; /* Borde redondeado para la columna izquierda */
}

.column-left h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #333; /* Color oscuro para el título */
    text-align: center;
}

.column-left p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555; /* Color gris para el texto */
    margin-left: 20px;
    margin-right: 40px;
    text-align: center;
}
.btn-inmortalizalo {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #f04e23;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 70%;
}

.btn-inmortalizalo:hover {
    background-color: #d3441e;
}

.column-left {
    position: relative;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}



/* Estilo para la imagen del logo en la columna izquierda */
.column-left .logo {
    margin-top: 20px; /* Separación entre el texto y el logo */
    width: 150px; /* Puedes ajustar este valor según el tamaño que prefieras */
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto; /* Centra la imagen en la columna */
}


/* Columna derecha (video) */
.column-right {
    flex: 1 1 45%; /* Ocupa el 45% del ancho disponible */
}

.column-right video {
    width: 100%; /* Video ocupará todo el ancho de su columna */
    height: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}


/* Productos Section */
#productos {
    padding: 50px;
    text-align: center;
    
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de igual tamaño */
    gap: 50px; /* Espacio entre los elementos */
    justify-items: center; /* Centra los items en cada columna */
    margin-top: 5%;
}

.grid-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
    max-width: 200px; /* Puedes ajustar el tamaño máximo de las imágenes si es necesario */
    border-radius: 10px; /* Añade un borde redondeado si quieres */
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.catalogo-descripcion {
    font-size: 18px;
    text-align: center;
    color: black; /* Color del texto blanco */
    background-color: #faf0e6; /* Fondo con un color llamativo */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    margin-bottom: 30px;
    line-height: 1.6;
    max-width: 800px; /* Limita el ancho máximo */
    margin-left: auto; /* Centra el bloque */
    margin-right: auto; /* Centra el bloque */
}



/* Footer */
footer {
    background-color: #333; /* Color de fondo oscuro */
    color: #fff; /* Color del texto blanco */
    padding: 40px 0; /* Espaciado interno */
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Distribuye columnas equitativamente */
    max-width: 1200px; /* Ancho máximo del footer */
    margin: 0 auto; /* Centra el contenido del footer */
}

.footer-column {
    flex-basis: 30%; /* Cada columna ocupará un 30% del espacio */
}

.footer-column h3 {
    margin-bottom: 20px; /* Espaciado debajo de los títulos */
    font-size: 18px;
    text-transform: uppercase; /* Mayúsculas en títulos */
    color: #faf0e6; /* Color de los títulos */
}

.footer-column p, .footer-column ul, .footer-column li {
    margin: 5px 0;
    font-size: 16px;
}

.footer-column ul {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px; /* Espaciado entre los elementos de la lista */
}

.footer-column ul li a {
    color: #fff; /* Color del texto de los links */
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #faf0e6; /* Cambia el color del link al pasar el ratón */
}
  /*MODAL*/
  /* Estilos para el modal */
/* Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 1000; /* Por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Alto completo */
    overflow: auto; /* Permitir el desplazamiento si es necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro con opacidad */
}

.modal-content {
    background-color: #fff; /* Fondo blanco para el contenido */
    margin: 15% auto; /* Centrar el modal verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajustar ancho según sea necesario */
    max-width: 400px; /* Máximo ancho del modal */
    position: relative; /* Para posicionar la 'X' correctamente */
}

.close {
    color: #aaa; /* Color de la 'X' */
    float: right; /* Alinear a la derecha */
    font-size: 28px; /* Tamaño de la 'X' */
    font-weight: bold;
    cursor: pointer; /* Cursor en forma de mano */
}

.close:hover,
.close:focus {
    color: black; /* Cambiar color al pasar el mouse */
    text-decoration: none; /* Sin subrayado */
    cursor: pointer; /* Cursor en forma de mano */
}

.modal-image {
    display: block;
    margin: 0 auto; /* Centrar la imagen */
}

.modal-details {
    text-align: center; /* Centrar el texto de los detalles */
}

.quantity-controls {
    display: flex;
    justify-content: center; /* Centrar los controles de cantidad */
    align-items: center; /* Centrar verticalmente */
}
